# CMake build files
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake

# Compiled Shaders
shaders/*.spv

# lnk
*.lnk

# Other
Other/

# Visual Studio files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
.vs/
*.VC.db
*.VC.VC.opendb
.vscode/

# Cursor files
.cursor/

# Output directories
bin/
lib/
Debug/
Release/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out
*.app
*.dll
*.so

# Other
*.DS_Store
*.tmp
*.swp